.company, .designer {
    font-size: 1.1rem;
    position: relative;

    p {
        text-shadow: 0 0 5px black;
    }

    a:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
    }

    a:hover {
        &:before {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

.contests {
    .contest-attributes {
        color: gray;
    }

    a {
        color: grey;
        box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.03);

        span:first-child {
            color: #424851;
        }
    }
}

.contest-header {
    .winner-placeholder {
        .winner-badge {
            top: 0;
            left: 0;
            background: orange;
            z-index: 1;
            color: white;
            padding: 0.5rem 1rem;
            font-weight: bold;
        }

        .outline {
            outline-offset: -15px;
            outline: 2px dashed #d4d4d4;
        }
    }

    .prize-money {
        span {
            display: block;
        }

        .fade {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0.05;
            font-size: 5rem;
            transform: translate(-50%, -50%);
        }

        .text-muted {
            font-size: 0.8rem;

        }
    }
}
