.company, .designer {
    font-size: 1.1rem;
    position: relative;

    p {
        text-shadow: 0 0 5px black;
    }

    a:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
    }

    a:hover {
        &:before {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

.contest-table {
    text-align: right;

    thead {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;

        td {
            background: #ff6664;
        }
    }

    tbody {
        tr {
            background: white;
        }
    }
}

.contest-header {
    h1 {
        font-size: 2rem;
    }

    .winner-placeholder {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

        img {
            border: 5px solid #fff3cd;
        }

        .outline {
            outline-offset: -15px;
            outline: 2px dashed #d4d4d4;
        }
    }

    .price-money {
        span {
            display: block;
        }

        .fade {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0.05;
            font-size: 5rem;
            transform: translate(-50%, -50%);
        }

        .text-muted {
            font-size: 0.8rem;

        }
    }
}
