.contest-files {
    h1 {
        font-size: 2rem;
    }

    img {
        max-width: 64px;
        max-height: 64px;
    }
}

.no-files {
    h1 {
        font-size: 2rem;
    }

    img {
        max-width: 7rem;
    }
}

.contest-comments {
    .comment {
        background: #f7f7f7;
    }
}
