.navbar {
    z-index: 1;

    .nav-link {
        color: #fff;
    }
}

.home-header {
    .container {
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
    }

    .designers {
        bottom: -5%;
    }

    .slogan {
        .orange {
            color: #ff8d33;
        }

        .position-relative {
            top: 50%;
        }

        h1 {
            font-size: 4rem;
            font-family: "Calistoga", cursive;
        }
    }
}

.logo {
    font-size: 1.5rem;
    font-family: "Calistoga", cursive;

    .period {
        color: orange;
    }
}

.branding {
    background: url(/images/background.png) #2daacd;
    color: #FFF;
    padding: 1.5rem 0;
    height: 5rem;
}

.home-banner {
    background-image: url('/images/main_slider_svoy.jpg');

    .btn {
        background: #2aa1c2;
    }
}

.main-banner {
    background-size: cover;
    height: 350px;

    h1 {
        line-height: 1.5;
        font-size: 2rem;
    }
}
