.logo {
    color: inherit;
    font-size: 1.5rem;
    font-family: "Calistoga", cursive;
    text-decoration: none;

    &:hover {
        color: #2a2a2a;
        text-decoration: none;
    }

    .period {
        color: orange;
    }
}

.banner-background {
    background: url('/images/home-header.jpg') 30% center;
    height: 700px;
    width: 75%;
    margin-left: 25%;
    position: absolute;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, whitesmoke, transparent, transparent);
    }

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0, whitesmoke, transparent, transparent);
    }

    .btn {
        background: #2aa1c2;
    }
}

.main-banner {
    margin-bottom: 5rem;
    background-size: cover;
    height: 700px;

    @media (min-width: 768px) {
        margin-bottom: 8rem;
    }

    h1 {
        line-height: 1.3;
    }

    p {
        line-height: 2;
    }
}

.companies {
    .vivid-health {
        max-width: 75px;
    }

    .truvisory {
        max-width: 130px;
    }

    .wripple {
        max-width: 50px;
    }

    img  {
        margin-right: 2rem;
    }

    p {
        color: #4cb5ff;

        &:after {
            content: "";
            width: 100px;
            height: 1px;
            background: #4cb5ff;
            position: absolute;
            top: 50%;
            left: 85px;
            transform: translateY(50%);
        }
    }
}

.categories {
    .dot-pattern {
        height: 72px;
        width: 72px;
        left: -30px;
        top: -20px;
    }

    h2 {
        line-height: 1.3;
    }

    .graphic-design {
        color: #4cb5ff;
    }

    .website-design {
        color: #ffc356;
    }

    .app-design {
        color: #ff9445;
    }

    .product-design {
        color: #7445ff;
    }

    .fa-stack {
        width: 1.9em;
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1rem;
    }
}

.collage {
    .border-circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 15px solid #ffe5b6;
        top: 0;
        left: 20%;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #cae9ff;
        top: 50%;
        left: 15px;
    }

    img {
        position: absolute;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    }

    .img-1 {
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 60%;
    }

    .img-2 {
        left: 15px;
        max-width: 25%;
    }

    .img-3 {
        top: calc(70% - 150px);
        right: 50px;
        max-width: 20%;
    }

    .img-4 {
        top: 60%;
        left: 10%;
        max-width: 25%;
    }
}

.category-container {
    margin-bottom: 5rem;

    @media (min-width: 768px) {
        margin-bottom: 10rem;
    }
}

.svg-scoop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;

    svg {
        margin-bottom: -8px;
        vertical-align: baseline;
    }
}

footer {
    color: white;

    a {
        color: rgba(255,255,255,.7);

        &:hover {
            color: rgba(255,255,255,.9);
            text-decoration: none;
        }
    }

    h5 {
        font-size: 1rem;
        position: relative;
        margin-bottom: 1rem;
        padding-bottom: 0.75rem;
        font-weight: bold;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 15px;
            border-radius: 20px;
            background-color: #fff;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 3px;
            border-radius: 20px;
            background-color: #fff;
            width: 45px;
            left: 20px;
        }
    }
}
