.process-banner {
    background-image: url('/images/softfacade_slide.jpg');

    h1 {
        font-weight: bold;
        text-shadow: 1px 1px 10px black;
    }
}

.process-steps-banner {
    line-height: 1.6;

    img {
        max-width: 80px;
        max-height: 80px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}

.shadow-card {
    box-shadow: 0  5px 10px rgba(154,160,185,0.05), 0 15px 40px rgba(166,173,201,0.2);
}

.pros-list {
    .shadow-card {
        border-radius: 5px;
    }

    li {
        border: 0;
        padding: 0.5rem 1.25rem;
    }
}
