.company, .designer {
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;

    p {
        text-shadow: 0 0 5px black;
    }

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
    }

    &:hover {
        &:before {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

.contest-table {
    thead {
        color: white;
        font-size: 0.85rem;
        font-weight: bold;

        td {
            background: #ff6664;
        }
    }

    tbody {
        text-align: right;
    }
}

.submission {
    background: white;

    img {
        max-height: 10rem;
    }
}
