.company, .designer {
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
    }

    &:hover {
        &:before {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}
