.company, .designer {
    font-size: 1.1rem;
    position: relative;

    p {
        text-shadow: 0 0 5px black;
    }

    a:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
    }

    a:hover {
        &:before {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

.contest-table {
    text-align: right;

    thead {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;

        td {
            background: #ff6664;
        }
    }

    tbody {
        tr {
            background: white;
        }
    }
}

.payout {
    font-size: 1.5rem;
    font-weight: bold;
}
