.logo {
    font-size: 1.5rem;
    font-family: "Calistoga", cursive;

    .period {
        color: orange;
    }
}

.branding {
    background: url(/images/background.png) #2daacd;
    color: #FFF;
    padding: 1.5rem 0;
    height: 5rem;
}

.home-banner {
    background-image: url('/images/main_slider_svoy.jpg');
}

.main-banner {
    background-size: cover;
    height: 350px;

    h1 {
        line-height: 1.5;
        font-size: 1.5rem;
    }
}
