// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #424851;
    background: whitesmoke;
    font-family: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#app {
    flex: 1;
}

[v-cloak] {
    display: none;
}

footer {
    background: #343a40;
}

// Successful payment page.
.success {
    color: #1DB15F;
}

.absolute-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.cursor-pointer {
    cursor: pointer;
}

// @TODO move to header scss file.
.navbar-expand-md {
    .navbar-nav {
        .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.navbar {
    background: rgba(245, 245, 245, 0.7);
}

.navbar-nav {
    .nav-link {
        color: #424850;
        font-weight: bold;
        text-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
    }
}

// Base.
@import 'base/typography';

// Components.
@import 'components/buttons';
@import 'components/intrinsic';
@import 'components/patterns';
@import 'components/submission';

// Pages.
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/contest';
@import 'pages/handover';
@import 'pages/home';
@import 'pages/process';

// User pages.
@import 'pages/user/show';

// Vendors.
@import 'vendors/animate';
@import 'vendors/croppie';
