// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #424851;
    background: whitesmoke;
    font-family: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#app {
    flex: 1;
}

footer {
    background: #343a40;
}

// Successful payment page.
.success {
    color: #1DB15F;
}

.absolute-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.cursor-pointer {
    cursor: pointer;
}

// Base.
@import 'base/typography';

// Components.
@import 'components/intrinsic';
@import 'components/submission';

// Pages.
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/contest';
@import 'pages/handover';
@import 'pages/home';
@import 'pages/process';

// Vendors.
@import 'vendors/animate';
@import 'vendors/croppie';
