// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html, #app {
    width: 100%;
    height: 100%;
}

body {
    color: #424851;
    background: whitesmoke;
    font-family: 'Muli', sans-serif;
}

// Pages.

@import 'pages/blog';
