.user-profile {
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    aside {
        flex: 0 0 250px;

        .active {
            a {
                color: #2daacd;
            }

            border-left: 4px solid #2daacd;
            background: rgba(45, 170, 205, 0.1);
        }

        a {
            color: #424869;

            &.hover {
                text-decoration: none;
            }
        }
    }

    main {
        flex: 1;
        border-left: 1px solid whitesmoke;
    }
}

.user-header {
    margin-top: 75px;

    img {
        top: -75px;
        max-height: 350px;
        margin-bottom: -90px;
    }
}
